/* Contenedor general */
.toolbarContainer {
  margin: 0 auto;
  padding: 12px;
  width: 85%;
  max-width: none;
  box-sizing: border-box;
}

.uploadBtnWrapper {
   position: relative; 
   display: inline-block; 
  }